<div class="container" id="about">
  <%= render partial: "layouts/header" %>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 central-column">
      <div class="row">
        <div class="col-md-4">
          <div style="width: 200px; height: 120px"></div>
          <div class="pull-left">
            <%= image_tag("kelly-maclean-social-cutout") %>
          </div>
        </div>
        <div class="col-md-8">
          <%= image_tag("kelly-maclean-logo") %>

          <ul class="list-inline pull-right">
            <li>
              <a href="https://www.huffingtonpost.com/kelly-maclean">
                <%= image_tag "huff-po", size: "132x150" %>
              </a>
            </li>
            <li>
              <a href="https://www.twitter.com/thekellymaclean">
                <%= image_tag "twitter", size: "132x150" %>
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/kellymacleancomedy">
                <%= image_tag "facebook", size: "132x150" %>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/user/KellyMacLeanComedy?feature=watch">
                <%= image_tag "youtube", size: "132x150" %>
              </a>
            </li>
          </ul>
          <span class="bio-text">
            Kelly MacLean is an American stand up comic, writer and actress. She is an alumnus of The Groundlings in Los Angeles which has trained many of her heroes including Kristin Wiig, Will Ferrel and Phil Hartman. She has performed with a variety of sketch comedy and improv troops including the critically acclaimed ‘Fred Willard and the MoHos.’ Kelly’s very first time performing stand up she won the Jimmy Kimmel Live’s ‘Funniest College Kid in America’ contest at the University of Colorado, where she studied journalism (before dropping out to study poop jokes.) She performs stand up and teaches meditation all over the world.
            <br><br>
            Kelly is best known for her comedy blog on Huffington Post Comedy; the most recent posting went viral, garnering her over ONE MILLION likes on Facebook and counting…
            <br><br>
            Kelly MacLean Comedy – <a href="http://www.huffingtonpost.com/kelly-maclean/surviving-whole-foods_b_3895583.html">Famous Huffington Post Article – Surviving Whole Foods</a>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
