<div class="main-image-banner">
  <%= image_tag("kelly-maclean-3", class: "banner-img") %>
</div>
<%= render partial: "social_nav" %>
<div class="container-background">
  <div class="container">
    <div class="row body-content">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <ul class="list-group">
          <% @podcasts.each do |podcast| %>
            <% if podcast.visible? %>
              <li class="list-group-item">
                <h3>
                  <%= link_to(
                        podcast.title,
                        podcast_path( podcast.id ),
                        class: "podcast-index-link",
                        data: {
                          podcast_title: podcast.title
                        }
                  ) %>
                </h3>
                <span class="release-date">
                  Release Date: <%= podcast.release_date.strftime( "%m/%d/%y" ) %>
                </span>
                <br>
                <span class="podcast-description">
                  <%= podcast.description %>
                </span>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
