<div class="main-image-banner">
  <%= image_tag("laughing_stretched_hero", class: "banner-img") %>
</div>
<%= render partial: "social_nav" %>
<div class="container-background">
  <div class="container">
    <div class="row body-content">
      <div class="col-md-10 col-md-offset-1 col-lg-12 col-lg-offset-0">
        <ul class="list-group">
          <% @podcasts.each_with_index do |podcast,i| %>
            <% if podcast.visible? %>
              <li class="list-group-item <%= i % 2 == 0 ? 'even' : 'odd' %>">
                <div class="row">
                  <div class="col-md-7">
                    <h3 class="podcast-title">
                      <%= link_to(
                            podcast.title,
                            podcast_path( podcast.slug ),
                            class: "podcast-title-link",
                            data: {
                              podcast_title: podcast.title
                            }
                      ) %>
                    </h3>
                    <span class="release-date">
                      Release Date: <%= podcast.release_date.strftime( "%B %d, %Y" ) %>
                    </span>
                    <br>
                    <span class="podcast-description">
                      <%= truncate(
                          podcast.description,
                          length: 70,
                          separator: ' ',
                          omission: "..."
                      ) %>
                    </span>
                  </div>
                  <div class="col-md-5">
                    <%= render(
                        partial: "layouts/jplayer",
                        locals: {
                          podcast: podcast,
                          i: i
                        }
                    ) %>
                  </div>
                </div>
              </li>
              <script>
                <%= render(
                  partial: 'podcasts/jplayer.js.erb',
                  locals: {
                    podcast: podcast,
                    i: i
                  }
                ) %>
              </script>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
