<% if mobile_device? %>
  <div class="mobile-hero-banner">
    <%= image_tag("mobile_hero", class: "img-responsive") %>
  </div>
<% else %>
  <div class="main-image-banner">
    <%= image_tag("ttoc_hero", class: "banner-img") %>
  </div>
<% end %>
<%= render partial: "social_nav" %>
<div class="container-background">
  <div class="container-fluid">
    <div class="row body-content">
      <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-12 col-lg-offset-0">
        <% @podcasts.each_with_index do |podcast,i| %>
          <% if podcast.visible? %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h1 class="podcast-title">
                  <%= link_to(
                        podcast.title,
                        podcast_path( podcast.slug ),
                        class: "podcast-title-link",
                        data: {
                          podcast_title: podcast.title
                        }
                  ) %>
                </h1>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-7">
                    <span class="release-date">
                      Release Date: <%= podcast.release_date.strftime( "%B %d, %Y" ) %>
                    </span>
                    <br>
                    <span class="podcast-description">
                      <%= podcast.description %>
                    </span>
                  </div>
                  <div class="col-md-5">
                    <%= render(
                        partial: "layouts/jplayer",
                        locals: {
                          podcast: podcast,
                          i: i
                        }
                    ) %>
                  </div>
                </div>
              </div>
              <script>
                <%= render(
                  partial: 'podcasts/jplayer.js.erb',
                  locals: {
                    podcast: podcast,
                    i: i
                  }
                ) %>
              </script>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
