<div class="myNav" id="myNavbar">
  <div class="row">
    <div class="col-md-12">
      <ul class="list-inline text-center">
        <li><%= link_to "About", root_path, class: "" %></li>
        <li><%= link_to "News", "/news", class: "" %></li>
        <li><%= link_to "Calendar", "/calendar", class: "" %></li>
        <li><%= link_to "Photos", "/photos", class: "" %></li>
        <li><%= link_to "Videos", "/videos", class: "" %></li>
        <li><%= link_to "Contact", "/contact", class: "" %></li>
      </ul>
    </div>
  </div>
</div>
