<!DOCTYPE html>
<html>
  <head>
    <title>The Tao of Comedy</title>
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= auto_discovery_link_tag(:rss, podcasts_rss_path) %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

    <%= javascript_include_tag 'application' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.min.js"></script>
    <%= render partial: "layouts/social_js" %>
  </head>

  <body>

    <div id="wrap">
      <%= render partial: "layouts/flash" %>
      <div id="main">
        <%= render partial: "layouts/admin_header" %>
        <%= yield %>
      </div>
    </div>

    <%= render partial: "layouts/footer" %>
  </body>
</html>
